<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>no</th>
                <th>dv</th>
                <th>dfvsdf</th>
            </tr>
        </thead>
        <tbody>
            <tr align="center">
                <td>fgd</td>
                <td>fgd</td>
                <td>fgd</td>
            </tr>
        </tbody>
    </table>
</body>
</html>