
    .box-container {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }

    .box {
      width: 60px;
      height: 60px;
      border-radius: 8px;
      color: white;
      margin-top: 10px;

    }